{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Nicole and Zack - July 12, 2014!</title>

    <meta name="keywords" content=""><meta name="description" content="">
    <meta charset="utf-8"><meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:100' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>


    <link href="{% static "layout/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "layout/css/bootstrap-responsive.min.css" %}" rel="stylesheet" type="text/css">

    {% block vars %}
    {% endblock %}

    <script src="{% static "layout/js/jquery.js" %}" type="text/javascript"></script>
    <script src="{% static "layout/js/bootstrap.min.js" %}" type="text/javascript"></script>
    <script src="{% static "layout/plugins/scrollto/jquery.scrollTo-1.4.3.1-min.js" %}" type="text/javascript"></script>
    <!-- MouseWheel -->
    <script src="{% static "layout/plugins/mousewheel/jquery.mousewheel.min.js" %}" type="text/javascript"></script>
    <!-- MouseWheel END -->
    <!-- FlexSlider -->
    <script src="{% static "layout/plugins/flexslider/jquery.flexslider-min.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "layout/plugins/flexslider/flexslider.css" %}" />
    <!-- FlexSlider END -->
    <!-- PrettyPhoto -->
    <script src="{% static "layout/plugins/prettyphoto/jquery.prettyPhoto.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "layout/plugins/prettyphoto/css/prettyPhoto.css" %}" />
    <!-- PrettyPhoto END -->
    <!-- Isotop -->
    <script src="{% static "layout/plugins/isotop/jquery.isotope.min.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" href="{% static "layout/plugins/isotop/style.css" %}" />
    <!-- Isotop END -->
    <!-- jQuery Form Plugin start -->
    <script type="text/javascript" src="{% static "layout/plugins/ajaxform/jquery.form.js" %}"></script>
    <!-- jQuery Form Plugin end -->
    <script src="{% static "layout/js/functions.js" %}" type="text/javascript"></script>
    <script src="{% static "layout/js/script.js" %}" type="text/javascript"></script>

    <link href="{% static "layout/css/style.css" %}" rel="stylesheet" type="text/css">

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

    {% block styles %}
    {% endblock %}
</head>
<body>
{% block header %}{% endblock %}
{% block navbar %}
    <!-- Navigation -->
    <div class="navigation_main_wrapper">
        <div class="navigation_main">
            <div class="container-fluid">
                <a id="collapse_button" class="btn btn-navbar pull-right" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>

                <!-- Logo 3 on mobile fixed menu. Will be visible if window width is less than 768px. Max height 60px -->
                <div class="mobile_menu_logo"><a href="#page0" class="scroll_to mobile_menu_logo_a">Nicole and Zack</a></div>

                <div class="container navbar_container" id="collapse_element">
                    <!-- Logo 2 on fixed menu. Max height 64px. Will be shown if window width > 768px -->
                    <div class="logo2 pull-left">Nicole and Zack</div>

                    <div class="navbar pull-right">
                        <div class="navbar-inner">
                            <ul class="nav">
                                <li class="active"><a href="#page0">Home</a></li>
                                <li><a href="#page1">Our Story</a></li>
                                <li><a href="#page2">Wedding Party</a></li>
                                <li><a href="#page3" class="hide-me-in-drop-down-for-tablets">Activities</a></li>
                                <li><a href="#page4" class="hide-me-in-drop-down-for-tablets">Hotels</a></li>
                                <li><a href="#page5" class="hide-me-in-drop-down-for-tablets">Information</a></li>
                                <li><a href="#page6" class="hide-me-in-drop-down-for-tablets">RSVP</a></li>

                                <!-- This item will show only on tablets and containelements with class .hide-me-in-drop-down-for-tablets -->
                                <li class="dropdown tablet_drop_down">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b> </a>
                                    <ul class="dropdown-menu"><li>&nbsp;</li></ul>
                                </li>
                            </ul>
                        </div><!-- .navbar-inner -->
                    </div>
                </div><!-- .navbar_container -->
            </div><!-- .container-fluid -->
        </div>
    </div>
    <!-- Navigation END -->
{% endblock %}
{% block content %}{% endblock %}
{% block footer %}
    <!-- Footer -->
    <footer class="footer">
        <div class="footer_inner">
            <div class="container">
                <div class="row-fluid">
                    <div class="span10"><h5>Built by <a href="https://github.com/zlalanne/">Zack Lalanne</a>.</h5>
                    </div>
                    {% block footer_top %}
                    <div class="span2">
                        <a href="#page0" class="btn btn-link back_top_top scroll_to">BACK TO TOP<i class="icon-arrow-up"></i> </a>
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END -->
{% endblock %}
</body>
</html>