{% extends "base.html" %}
{% load staticfiles %}
    {% block header %}
    <!-- Header -->
    <div class="heading page-item-class" id="page0">
        <div class="container-fluid heading_pattern">
            <div class="container">
                <div class="logo"></div>
                <div class="hello_block">
                    <div class="decorative_line">Nicole and Zack</div>
                </div>
                <div class="page-header">
                    <h1>July 12th, 2014 - Richardson, TX</h1>
                    <h1>{{ time }}</h1>
                </div>
                <a href="#page1" class="header_arrow_button"></a>
            </div>
        </div>
    </div>
    <!-- Header END -->
    {% endblock %}


{% block content %}
<!-- Page 1 (about) -->
<div class="container page-item-class" id="page1">
	<div class="container">
        <div class="page-header">
            <h1>Our Story</h1>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span7">
            <p>Nicole and Zack grew up together in Richardson, Texas. They first met in 2002 as seventh graders at
                Richardson West Junior High. However, they didn't become good friends until they continued onto Richardson High School. It was there,
                in tenth grade, where they began to bond over their shared love of math in Algebra II.
                Their bond grew and they later started dating. Nicole and Zack became "official" on February 22nd, 2007.</p>
            <p>A couple of years later, Nicole's mom shared a memory of Nicole and Zack's high school years with them. Her mom remembered
                Nicole and Zack studying for their physics class at the house and overhearing Nicole and Zack talk and laugh together.
                Nicole's mom thought to herself how
                strange it was that Nicole and Zack already seemed to "fit like a pair of old shoes."</p>
            <p>Upon graduation, Nicole and Zack then went off in different directions to their own universities.
                Zack began at the University of Texas at Arlington and Nicole at Austin College in Sherman. Although they
                knew it would be tough, Zack and Nicole decided to continue their relationship to see where it went.</p>
            <p>In 2009, Zack transferred to University of Texas at Austin while Nicole continued at Austin College.
                While the distance between them was large, Zack and Nicole visited each other as much as possible
                to see and support each other. The following year, Nicole
                studied abroad in Berlin, Germany for a semester. This would be the true test of their relationship.
                Although the distance was tough, Nicole and Zack's commitment to their relationship remained strong.</p>
            <p>Finally the distance began to shrink. Zack completed his bachelors degree in Computer Engineering and
                returned to Dallas to work as a software engineer at Texas Instruments while Nicole completed her
                masters degree in education at Austin College. Nicole then returned to Dallas to work as an algebra
                teacher and junior varsity soccer coach at Richardson High School.</p>
            <p>Just days before Zack and Nicole went on a three week trip to Uganda, Zack finally decided to pop
                the question (6 years later) with a picnic of Nicole's favorite foods and champagne at a park Nicole and
                Zack used to sneak away to in high school. To celebrate, Nicole and Zack's families met at Nicole's parents' house
                to share the news with their extended families and to drink to their engagement.</p>
            <p>Nicole and Zack are grateful for all of the support and love their families and friends have given to them
                individually and to their relationship over the years. They now look forward to finally beginning the next chapter of
                their lives together and can't wait to see what is to come.</p>
            </div>
            <div class="span5">
                <div class="our-story-pics">
                    <img src="{% static "images/highschoolgrad.png" %}" class="photo" alt="" />
                    <img src="{% static "images/vegas.png" %}" class="photo" alt="" />
                    <img src="{% static "images/engagement.png" %}" class="photo" alt="" />
                    <img src="{% static "images/uganda.jpg" %}" class="photo" alt="" />
                </div>
            </div>
        </div>
	</div>
</div>
<!-- Page 1 (about) END -->

<!-- Page 2 (Flex slider) -->
<div class="page-item-class has_slider" id="page2">
	<div class="container">
		<div class="page-header"><h1>Wedding Party</h1></div>
	</div>
    <div class="container">
        <div class="row">
            <div class="span10 offset1">
                <div class="flexslider">
		<ul class="slides">
            <li>
                <span>
                <h1>Jackie Streetman</h1>
                <h2>Matron of Honor</h2>
                <img class="photo" src="{% static "images/jackie.png" %}"/>
                <p>Jackie is Nicole's older sister and matron of honor. Jackie and Nicole have been through thick and
                    thin together, from plane rides to Midland every other weekend in their childhood to arguing over
                    borrowed clothing in their teenage years (and still somewhat today...). Years later, Jackie moved
                    to Gunter with her husband Corey and two dogs Maggie and Riley. Jackie and Corey then gave us our
                    newest addition, Brennen, almost two years ago. Nicole admires Jackie's outgoing and charismatic personality
                    that draws in all people within a ten foot radius.<br><br>
                    Jackie now has the time-consuming, but rewarding job of not only caring for her own family's needs,
                    but also a family in Frisco, for which she nannies.
                </span>
            </li>
            <li>
                <h1>Jacob Lalanne</h1>
                <h2>Best Man</h2>
                <img class="photo" src="{% static "images/zackandjake.png" %}"/>
                <p>Jake is Zack's younger brother and best man. Zack tries to look out for his younger brother and even
                    got Jake his first job and his first car, but both ended badly. Although he lives in Denver, whenever they are together they
                    make the most of the time they have, which usually includes playing video games and drinking beer. Zack
                    admires Jake's work ethic and has accepted the fact that he never will be able to cook a steak or bake a
                    cheesecake as well as he can.
                    <br><br>Jake is currently a chef at a cajun restaurant in downtown Denver.
                </p>
            </li>
            <li>
                <span>
                <h1>Kaitlin Elledge</h1>
                <h2>Maid of Honor</h2>
                    <img class="photo" src="{% static "images/kaitlin.png" %}"/>
                <p>Kaitlin is one of Nicole's college friends. Kaitlin and Nicole played soccer together at Austin
                    College for three years where Nicole revered Kaitlin's amazing "Camo Keeper" skills.
                    While Nicole was studying abroad in Germany, Kaitlin visited her and they painted
                    their faces to watch the U.S. women's soccer team play Sweden in the Women's World Cup 2011. Kaitlin
                    and Nicole both moved to Dallas for work and now spend most of their time together at low-key
                    restaurants and bars in Addison and Lower Greenville.<br><br>Kaitlin now works in Addison as an
                    account executive for MetLife. </p>
                </span>
            </li>
            <li>
                <span>
                <h1>Tyler Hanna</h1>
                <h2>Groomsmen</h2>
                <img class="photo" src="{% static "images/zackandtyler.png" %}"/>
                <p>Tyler is one of Zack's oldest friends, going all the way back to the second grade. Together they went
                    on many annual Stillwater trips and got sleep deprived at weekend film races. After high school they
                    went off to the University of Texas together and survived being roommates. <br><br>
                    Tyler is now plotting revenge on Zack's triumphant victory as fantasy football champion.</p>
                </span>
            </li>
            <li>
                <span>
                <h1>Ashleigh Johnson</h1>
                <h2>Bridesmaid</h2>
                <img class="photo" src="{% static "images/ashleigh.png" %}"/>
                <p>Ashleigh is also one of Nicole's college friends and old teammates. They played for the Roos for
                    four years and Ashleigh dominated the defensive third of the field each year. Ashleigh and Nicole's
                    friendship blossomed from their shared weirdness and love for shenanigans.
                    Ashleigh now lives in Austin and Ashleigh and Nicole make the trek to see each other as
                    often as their time and money permits. <br><br>Ashleigh is currently finishing up her masters degree
                    in public health at the University of Texas at Austin and applying to medical schools in Texas. </p>
                </span>
            </li>
            <li>
                <span>
                <h1>Gib Reynolds</h1>
                <h2>Groomsmen</h2>
                <img class="photo" src="{% static "images/nicoleandgib.png" %}"/>
                <p>Gib is another old friend of Zack who he has known most of his life. Gib and Zack bonded over their
                constant listening to Brand New and playing obscure high school sports. Conversations are now mostly
                filled with talk of good beer and new tech along with the occasional BIG XII trash talk.<br><br>
                Gib is now a professor at a college that has Bears on campus and will probably be a part of the next
                big thing.</p>
                </span>
            </li>
            <li>
                <span>
                <h1>Mackenzie Lund</h1>
                <h2>Bridesmaid</h2>
                <img class="photo" src="{% static "images/mackenzie.png" %}"/>
                <p>Mackenzie is yet another one of Nicole's college friends and teammates. While Mackenzie wore Austin
                    College's crimson and gold colors, she used her dizzying speed on the flank of the soccer field to
                    up her stats in assists and goals. Mackenzie and Nicole also lived together during their college
                    career. Nicole most enjoyed Mackenzie's ability to beautifully interpret songs through dance with
                    Ashleigh.<br><br>Mackenzie is now finishing up her law degree at Alabama. She plans to return to
                    Texas to take the bar, so if you're look for a very capable lawyer, look no further!</p>
                </span>
            </li>
            <li>
                <span>
                <h1>Corey Streetman</h1>
                <h2>Groomsmen</h2>
                <img class="photo" src="{% static "images/coreyzack.png" %}"/>
                <p>Corey is married to Nicole's sister Jackie and is Zack's future brother in law. They enjoy watching
                  and discussing Texas Lognhorn football and making fun of their Sooner relatives. Corey and Zack like
                  to play golf together and their cart is known for having music playing and a cooler filled with beer.

                <br><br>Corey lives in Gunter with Jackie and Brennen and is a firefighter for the Sherman fire department.</p>
                </span>
            </li>
		</ul>
	</div>
            </div>
        </div>
    </div>
</div>
<!-- Page 2 (Flex slider) END -->

<!-- Page 3 (Activities) -->
<div class="page-item-class" id="page3">
	<div class="container">
		<div class="page-header">
			<h1>Activities <small class="pull-right">Check out some fun things to do in Dallas!</small></h1>
		</div>
		<div class="row">
			<div class="span3 tac">
				<div class="event_block">
					<h2>Drink a Beer</h2>
					<a class="the_btn btn-large" href="http://www.deepellumbrewing.com/" target="_action">Deep Ellum Brewery Tour</a>
					<a class="the_btn btn-large" href="http://www.beerknurd.com/stores/addison/" target="_action">Flying Saucer Beer Emporium</a>
				</div>
			</div>
            <div class="span3 tac">
				<div class="event_block event_block2">
					<h2>Get a Burger</h2>
					<a class="the_btn btn-large" href="http://www.hopdoddy.com/" target="_action">Hopdoddy</a>
                    <a class="the_btn btn-large" href="http://twistedrootburgerco.com/" target="_action">Twisted Root</a>
                    <a class="the_btn btn-large" href="http://www.haystackburgers.com/" target="_action">Haystack Burgers</a>
				</div>
			</div>
			<div class="span3 tac">
				<div class="event_block event_block3">
					<h2>Texas Rangers</h2>
					<a class="the_btn btn-large" href="http://texas.rangers.mlb.com/" target="_action">Team Website</a>
				</div>
			</div>
			<div class="span3 tac">
				<div class="event_block event_block4">
					<h2>Perot Museum of Nature and Science</h2>
					<a class="the_btn btn-large" href="http://www.perotmuseum.org/" target="_action">Museum Website</a>
				</div>
			</div>
		</div>
		<div class="row">
            <div class="span3 tac">
				<div class="event_block event_block4">
					<h2>See Animals</h2>
					<a class="the_btn btn-large" href="http://www.dwazoo.com/" target="_action">Dallas World Aquarium</a>
					<a class="the_btn btn-large" href="http://www.dallaszoo.com/" target="_action">Dallas Zoo</a>
				</div>
			</div>
			<div class="span3 tac">
				<div class="event_block event_block3">
					<h2>Play Golf</h2>
					<a class="the_btn btn-large" href="http://www.sherrillparkgolf.com/" target="_action">Sherrill Park Golf Course</a>
					<a class="the_btn btn-large" href="http://www.clubcorp.com/Clubs/Canyon-Creek-Country-Club" target="_action">Canyon Creek Country Club</a>
				</div>
			</div>
            <div class="span3 tac">
                <div class="event_block event_block2">
                    <h2>Go Shopping</h2>
					<a class="the_btn btn-large" href="http://www.northparkcenter.com/" target="_action">Northpark Mall</a>
					<a class="the_btn btn-large" href="http://www.galleriadallas.com/" target="_action">The Galleria</a>
                </div>
            </div>
            <div class="span3 tac">
                <div class="event_block">
                    <h2>Get Around</h2>
                    <a class="the_btn btn-large" href="http://www.dart.org/" target="_action">DART</a>
                </div>
            </div>
		</div>
	</div>
</div>

<div class="container-fluid page-item-class" id="page4">
    <div class="container">
        <div class="page-header">
            <h1>Hotel</h1>
        </div>
        <p>
            For your convenience, We have blocked rooms at the <a href="http://hiltongardeninn3.hilton.com/en/hotels/texas/hilton-garden-inn-dallas-richardson-DALRIGI/index.html">
            Hilton Garden Inn in Richardson.</a> The hotel provides shuttle transportation to
            Canyon Creek Country Club. Please let us know if plan to take the shuttle for the reception so we can provide Hilton with a passenger estimate.
        </p>
        <p>
            The hotel gave us a special rate at $94 for a King or Double Queen bed with breakfast.
            To get this rate, please let Hilton know you are in the Breckling/Lalanne Wedding Block.
        </p>
        <div class="row">
            <div class="span6 info-box offset3">
                <span class="location-name">Hilton Garden Inn - Richardson</span>
                <span class="location-address">1001 W President George Bush Turnpike</span>
                <span class="location-address">Richardson, Texas 75080</span>
                <span class="location-address">972-792-9393</span>
                <a href="http://hiltongardeninn3.hilton.com/en/hotels/texas/hilton-garden-inn-dallas-richardson-DALRIGI/index.html">Hotel Website</a>
            </div>
        </div>
    </div>
</div>

<div class="page-item-class" id="page5">
    <div class="container">
        <div class="container">
            <div class="page-header">
                <h1>Information</h1>
            </div>
        </div>
        <div class="container">
            <div class="info-contain">
                <div class="row">
                    <div class="span4 info-box">
                        <i class="fa fa-calendar fa-2x"></i>
                        <span class="date">July 12th, 2014</span>
                        <span class="time">Ceremony begins at 6:30pm</span>
                        <span class="time">Dinner and dancing to follow</span>
                        <a class="the_btn" href="maps.google.com">Add to Calendar</a>
                    </div>
                    <div class="span4 info-box">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="location-name">Episcopal Church of the Epiphany</span>
                        <span class="location-address">421 Custer Rd.</span>
                        <span class="location-address">Richardson, TX 75080</span>
                        <a class="the_btn" href="http://maps.google.com/?q=421 N. Custer Rd. Richardson, TX 75080">Directions</a>
                    </div>
                    <div class="span4 info-box">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="location-name">Canyon Creek Country Club</span>
                        <span class="location-address">625 W Lookout Dr.</span>
                        <span class="location-address">Richardson, Texas 75080</span>
                        <a class="the_btn" href="http://maps.google.com/?q=625 W Lookout Dr, Richardson, Texas 75080">Directions</a>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="span8 offset2 info-box">
                    <br>
                    <p>
                        For those who would like to give us a gift we are registered at the following places. We appreciate
                        you celebrating this day with us and we are very grateful for our family and friends.<br><br>
                        <a class="the_btn btn-md" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=10788925&pwsurl=">Bed Bath & Beyond</a><br>
                        <a class="the_btn btn-md" href="http://www1.macys.com/registry/wedding/guest/?registryId=6101439">Macy's</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--
<div class="page-item-class" id="page6">
    <div class="container">
        <div class="page-header">
            <h1>RSVP</h1>
            <h4>Please RSVP Below (Regrets too!) We are excited to share this day with you!</h4>
        </div>
    </div>
    <div class="container">
        <p>
            <form action="/thanks/" method="post">
                {% csrf_token %}
                <p>
                    <label for="id_attending">Will you be able to attend?</label>
                    <input id="id_attending" name="attending" type="radio" value="True">Yes<br>
                    <input id="id_attending" name="attending" type="radio" value="False">No<br>
                </p>
                <p>
                    <label for="id_name">Guest Name:</label>
                    <input style="height:30px;" id="id_name" maxlength="200" name="name" type="text">
                    <label for="id_adults">Adults Attending:</label>
                    <input style="height:30px;" id="id_adults" name="adults" type="number" value="1" min="0">
                    <label for="id_children">Children Attending:</label>
                    <input style="height:30px;" id="id_children" name="children" type="number" value="0" min="0">
                    <label for="id_song">Any Song Requests?</label>
                    <textarea name="song" cols="40" rows="5" style="height:60px; width:500px;" id="id_song"></textarea><br>
                    <input type="submit" value="Submit" />
                </p>
            </form>
        </p>
    </div>
</div>
-->
{% endblock %}

</html>

