{% extends "base.html" %}
{% load staticfiles %}
    {% block header %}
    <!-- Header -->
    <div class="heading page-item-class" id="page0">
        <div class="container-fluid heading_pattern">
            <div class="container">
                <div class="logo"></div>
                <div class="hello_block">
                    <div class="decorative_line">Nicole and Zack</div>
                </div>
                <div class="page-header">
                    <h1>Booze, food, and bad dance moves.</h1>
                    <h1>July 12th, 2014 - Dallas, TX</h1>
                </div>
                <a href="#page1" class="header_arrow_button"></a>
            </div>
        </div>
    </div>
    <!-- Header END -->
    {% endblock %}


{% block content %}
<!-- Page 1 (about) -->
<div class="container-fluid page-item-class" id="page1">
	<div class="container">
		<div class="page-header">
			<h1>Need to put some stuff here</h1>
		</div>
		<p>We offer a wide range of services including web and app design, branding services and website development. We've worked with numerous clients to create professional websites and brands to a high standard. Check out my work above to see some of my finest. If you'd like to know more about what we do and think we could help improve your digital image don't hesitate to get in touch and find out how we can help you.</p>

		<div class="row-fluid">
			<div class="span3 tac">
				<img src="{% static "images/about_icon_1.jpg" %}" alt="" />
				<h5>СONCEPTUALIZATION</h5>
				<p>Collaboration is key to success.
You know your brand inside out. We know digital inside out. </p>
			</div>
			<div class="span3 tac">
				<img src="{% static "images/about_icon_2.jpg" %}" alt="" />
				<h5>DESIGN</h5>
				<p>Collaboration is key to success.
You know your brand inside out. We know digital inside out. </p>
			</div>
			<div class="span3 tac">
				<img src="{% static "images/about_icon_3.jpg" %}" alt="" />
				<h5>USER EXPERIENCE</h5>
				<p>Collaboration is key to success.
You know your brand inside out. We know digital inside out. </p>
			</div>
			<div class="span3 tac">
				<img src="{% static "images/about_icon_4.jpg" %}" alt="" />
				<h5>DEVELOPMENT</h5>
				<p>Collaboration is key to success.
You know your brand inside out. We know digital inside out. </p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
<!-- Page 1 (about) END -->

<!-- Page 2 (Flex slider) -->
<div class="container-fluid page-item-class has_slider" id="page2">
	<div class="container">
		<div class="page-header"><h1>Wedding Party</h1></div>
	</div>
	<div class="flexslider">
		<ul class="slides">
            <li>
                <span>
                <h1>Jackie Streetman</h1>
                <h2>Matron of Honor</h2>
                <p>Here is some info about Jackie</p>
                </span>
            </li>
            <li>
                <span>
                <h1>Jake Lalanne</h1>
                <h2>Best Man</h2>
                <p>Here is some info about Jake</p>
                </span>
            </li>
            <li>
                <span>
                <h1>Kaitlin Elledge</h1>
                <h2>Maid of Honor</h2>
                <p>Here is some info about Kaitlin</p>
                </span>
            </li>
            <li>
                <span>
                <h1>Tyler Hanna</h1>
                <p>Here is some info about Tyler</p>
                </span>
            </li>
            <li>
                <span>
                <h1>Ashleigh Johnson</h1>
                <p>Here is some info about Ashleigh</p>
                </span>
            </li>
            <li>
                <span>
                <h1>Gib Reynolds</h1>
                <p>Here is some info about Gib</p>
                </span>
            </li>
		</ul>
	</div>

</div>
<!-- Page 2 (Flex slider) END -->

<!-- Page 3 (Activities) -->
<div class="container-fluid page-item-class" id="page3">
	<div class="container">
		<div class="page-header">
			<h1>Activities <small class="pull-right">Check out some fun things to do in Dallas!</small></h1>
		</div>
		<div class="row-fluid">
			<div class="span3 tac">
				<div class="event_block">
					<h2>Drink Beer</h2>
					<a class="the_btn btn-large dark" href="http://www.deepellumbrewing.com/" target="_action">Deep Ellum Brewery Tour</a>
					<a class="the_btn btn-large dark" href="http://www.beerknurd.com/stores/addison/" target="_action">Flying Saucer Beer Emporium</a>
				</div>
			</div>
			<div class="span3 tac">
				<div class="event_block event_block2">
					<h2>Texas Rangers</h2>
					<a class="the_btn btn-large dark" href="http://texas.rangers.mlb.com/" target="_action">Team Website</a>
				</div>
			</div>
			<div class="span3 tac">
				<div class="event_block event_block3">
					<h2>Perot Museum of Nature and Science</h2>
					<a class="the_btn btn-large dark" href="http://www.perotmuseum.org/" target="_action">Museum Website</a>
				</div>
			</div>
			<div class="span3 tac">
				<div class="event_block event_block4">
					<h2>See Animals</h2>
					<a class="the_btn btn-large dark" href="http://www.dwazoo.com/" target="_action">Dallas World Aquarium</a>
					<a class="the_btn btn-large dark" href="http://www.dallaszoo.com/" target="_action">Dallas Zoo</a>
				</div>
			</div>
		</div>
		<div class="row-fluid">
			<div class="span3 tac">
				<div class="event_block event_block4">
					<h2>Play Golf</h2>
					<a class="the_btn btn-large dark" href="http://www.sherrillparkgolf.com/" target="_action">Sherril Park Golf Course</a>
					<a class="the_btn btn-large dark" href="http://www.clubcorp.com/Clubs/Canyon-Creek-Country-Club" target="_action">Canyon Creek Country Club</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Page 3 (Events) END -->

<!-- Page 1 (about) -->
<div class="container-fluid page-item-class" id="page4">
    <div class="container">
        <div class="page-header">
            <h1>Hotels</h1>
        </div>
        <p>
            We've blocked rooms at a hotel near the church and ceremony.
        </p>
        <div class="row-fluid">
            <div class="span3 tac">
                <h5>Marriott Denver South at Park Meadows</h5>
                <div>
                    <span>10345 Park Meadows Dr</span>
                    <span>Lone Tree, CO 80124</span>
                    <span><a href="http://www.marriott.com/hotels/travel/denms-denver-marriott-south-at-park-meadows/" target="_blank">Website</a></span>
                    <span><a href="https://maps.google.com/maps/ms?msid=202622740481013268172.0004d592ff2479fc2f47f&msa=0&ll=39.552137,-104.871776&spn=0.011135,0.022638" target="_blank">Map</a></span>
                    <p>
                        Mention the Branchflower wedding.
                    </p>
                </div>
            </div>
            <div class="span3 tac">
                <h5>Element Denver Park Meadows</h5>
                <div>
                    <span>(303) 790-2100</span>
                    <span>9985 Park Meadows Dr</span>
                    <span>(Lone Tree, CO 80124</span>
                    <span><a href="http://www.elementdenverparkmeadows.com/" target="_blank">Website</a></span>
                    <span><a href="https://maps.google.com/maps/ms?msid=202622740481013268172.0004d592ff2479fc2f47f&msa=0&ll=39.552137,-104.871776&spn=0.011135,0.022638" target="_blank">Map</a></span>
                    <p>
                        Mention the Mearsheimer / Branchflower wedding.  Reservations must be received by July 31st.
                    </p>
                </div>
            </div>
            <div class="span3 tac">
                <h5>Hampton Inn & Suites Denver / South-RidgeGate</h5>
                <div>
                    <span>(303) 790-4100</span>
                    <span>10030 Trainstation Circle</span>
                    <span>Lone Tree, CO 80124</span>
                    <span><a href="http://hamptoninn3.hilton.com/en/hotels/colorado/hampton-inn-and-suites-denver-south-ridgegate-DENRGHX/index.html" target="_blank">Website</a></span>
                    <span><a href="https://maps.google.com/maps/ms?msid=202622740481013268172.0004d592ff2479fc2f47f&msa=0&ll=39.552137,-104.871776&spn=0.011135,0.022638" target="_blank">Map</a></span>
                </div>
            </div>
            <div class="span3 tac">
                <h5>Hyatt Place Denver-South / Park Meadows</h5>
                <div>
                    <span>(303) 662-8500</span>
                    <span>9030 East Westview Road</span>
                    <span>Lone Tree, CO 80124</span>
                    <span><a href="http://denversouth.place.hyatt.com/hyatt/hotels-denversouth-place/place/index.jsp?null" target="_blank">Website</a></span>
                    <span><a href="https://maps.google.com/maps/ms?msid=202622740481013268172.0004d592ff2479fc2f47f&msa=0&ll=39.552137,-104.871776&spn=0.011135,0.022638" target="_blank">Map</a></span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

    </div>
</div>
<!-- Page 1 (about) END -->

<!-- Page 5 (Contacts) -->
<div class="page-item-class" id="page5">
    <div class="container-fluid">
        <div class="container">
            <div class="page-header">
                <h1>Getting Here</h1>
            </div>
        </div>
    </div>
    <div class="google_map">
        <div class="form_container">
            <span>
                <h3>Epiphany Episcopal Church</h3>
                	<ol>
                		<li>Exit Arapaho from US-75</li>
                        <li>Head west on Arapaho</li>
                		<li>Take a left on Custer</li>
                		<li>Church is on the right side before Belt Line</li>
                	</ol>
                <h3>Canyon Creek Country Club</h3>
                <h4>From the Church</h4>
                	<ol>
                		<li>Head North on Custer</li>
                		<li>Take left on Lookout Dr.</li>
                		<li>Country club will be on the left</li>
                	</ol>
                <h4>From US-75</h4>
                	<ol>
                		<li>Exit Campbell from US-75</li>
                        <li>Head west on Campbell</li>
                		<li>Take a right on Custer</li>
                		<li>Take a left on Lookout Dr.</li>
                		<li>Country club will be on the left</li>
                	</ol>
            </span>
        </div>
        <iframe width="640" height="480" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps/ms?msa=0&amp;msid=217774709679966509286.0004e8334a2b6208e391f&amp;ie=UTF8&amp;t=m&amp;ll=32.97526,-96.731186&amp;spn=0.138247,0.219727&amp;z=12&amp;output=embed"></iframe>
    </div>
</div>

<div class="container-fluid page-item-class" id="page6">
    <div class="container">
        <div class="page-header">
            <h1>RSVP</h1>
            <h4>Please RSVP Below. We are excited to share this day with you!</h4>
        </div>
        <p>
            <form action="/" method="post">
                {% csrf_token %}
                <p>
                    <label for="id_attending">Will you be able to attend?</label>
                    <input id="id_attending" name="attending" type="radio" value="True">Yes<br>
                    <input id="id_attending" name="attending" type="radio" value="False">No<br>
                </p>
                <p>
                    <label for="id_name">Guest Name:</label>
                    <input style="height:30px;" id="id_name" maxlength="200" name="name" type="text">
                    <label for="id_adults">Adults Attending:</label>
                    <input style="height:30px;" id="id_adults" name="adults" type="number" value="1">
                    <label for="id_children">Children Attending:</label>
                    <input style="height:30px;" id="id_children" name="children" type="number" value="0">
                    <label for="id_song">Any Song Requests?</label>
                    <textarea name="song" cols="40" rows="5" style="height:60px; width:500px;" id="id_song"></textarea><br>
                    <input type="submit" value="Submit" />
                </p>
            </form>
        </p>
    </div>
</div>
{% endblock %}

</html>

